Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2018-12, with the labels that each got.

#491 Update service-usage-metrics.md
  powerbi-docs/service-usage-metrics.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#499 Clarify ability to customize time period in ACI.
  powerbi-docs/desktop-connect-azure-consumption-insights.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#513 Formatting list inside table cell
  powerbi-docs/desktop-import-excel-workbooks.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#515 "insalling" typo
  powerbi-docs/includes/gateway-onprem-install-include.md
Labels: Change sent to author, do-not-merge

#523 Update service-usage-metrics.md to fix typo
  powerbi-docs/service-usage-metrics.md
Labels: Change sent to author, powerbi/svc, ready-to-merge

#530 fix typo
  powerbi-docs/service-dashboard-tiles.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#538 Update service-dataflows-connect-azure-data-lake-storage-gen2.md
  powerbi-docs/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, do-not-merge, powerbi/svc
