Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2018-09, with the labels that each got.

#214 Update service-basic-concepts.md
  powerbi-docs/service-basic-concepts.md
Labels: Change sent to author, do-not-merge, powerbi, powerbi/svc

#203 Remove reference to Excel
  powerbi-docs/guided-learning/includes/6-0-intro-content-packs-groups.md
Labels: Change sent to author, do-not-merge

#186 Fixed Power BI Desktop Version
  powerbi-docs/report-server/changelog.md
Labels: Change sent to author, powerbi, powerbi/svc, ready-to-merge

#280 Update whitepapers.md
  powerbi-docs/whitepapers.md
Labels: Change sent to author, powerbi/svc, ready-to-merge

#281 Update service-connect-to-microsoft-dynamics-nav.md
  powerbi-docs/service-connect-to-microsoft-dynamics-nav.md
Labels: Change sent to author, do-not-merge, powerbi/svc
