Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2018-11, with the labels that each got.

#399 Update service-gateway-onprem.md
  powerbi-docs/service-gateway-onprem.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#403 Fix spelling
  powerbi-docs/developer/migrate-from-powerbi-embedded.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#415 typo: heirarchy -> hierarchy
  powerbi-docs/consumer/end-user-drill.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#426 typo: notificaton -> notification
  powerbi-docs/service-share-reports.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#370 Adding Aliases for PowerShell cmdlets.
  powerbi-docs/service-admin-reference.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#439 Revert "Adding Aliases for PowerShell cmdlets."
  powerbi-docs/service-admin-reference.md
Labels: do-not-merge

#461 typo: notofied -> notified
  powerbi-docs/consumer/end-user-alerts.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#465 typo: Double word "when"
  powerbi-docs/desktop-composite-models.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#467 typo: Double word "in"
  powerbi-docs/power-bi-q-and-a-linguistic-schema.md
  powerbi-docs/service-create-workspaces.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#466 typo: Double word "the"
  powerbi-docs/paginated-reports-quickstart-aw.md
  powerbi-docs/service-dashboard-themes.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#468 typo: acccess -> access
  powerbi-docs/consumer/end-user-favorite.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#356 Troubleshooting error on Navigator window
  powerbi-docs/desktop-sap-bw-connector.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#364 Update desktop-tutorial-row-level-security-onprem-ssas-tabular.md
  powerbi-docs/desktop-tutorial-row-level-security-onprem-ssas-tabular.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#472 Update desktop-directquery-data-sources.md
  powerbi-docs/desktop-directquery-data-sources.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#474 added caveat that report measures aren't supported
  powerbi-docs/desktop-ssas-multidimensional.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#462 typo: notfication -> notification
  powerbi-docs/consumer/end-user-alerts.md
  powerbi-docs/consumer/media/end-user-alerts/powerbi-alert-notification.png
  powerbi-docs/media/service-set-data-alerts/powerbi-alert-notification.png
  powerbi-docs/service-set-data-alerts.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#436 Quick insights does not require two tables.
  powerbi-docs/service-insights-optimize.md
Labels: Change sent to author, powerbi/svc, ready-to-merge
