Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2018-07, with the labels that each got.

#46 Typos fixes for double words
  contributor-guide/create-images-markdown.md
  powerbi-docs/desktop-create-phone-report.md
  powerbi-docs/desktop-data-view.md
  powerbi-docs/desktop-directquery-data-sources.md
  powerbi-docs/desktop-tutorial-analyzing-sales-data-from-excel-and-an-odata-feed.md
  powerbi-docs/power-bi-visualization-best-practices.md
  powerbi-docs/power-bi-visualization-tables.md
  powerbi-docs/service-admin-power-bi-pro-in-your-organization.md
  powerbi-docs/service-basic-concepts.md
  powerbi-docs/service-connect-to-zuora.md
  powerbi-docs/service-govus-overview.md
  powerbi-docs/service-navigation-search-filter-sort.md
  powerbi-docs/service-organizational-content-pack-find-and-open.md
  powerbi-docs/service-publish-from-excel.md
Labels: Change sent to author, do-not-merge, powerbi

#49 Redirect rewrite for GH compat
  powerbi-docs/desktop-mobile-barcodes.md
  powerbi-docs/mobile-android-app-get-started.md
  powerbi-docs/mobile-annotate-and-share-a-tile-from-the-mobile-apps.md
  powerbi-docs/mobile-apps-for-mobile-devices.md
  powerbi-docs/mobile-iphone-app-get-started.md
  powerbi-docs/mobile-tiles-in-the-mobile-apps.md
  powerbi-docs/mobile-whats-new-in-the-mobile-apps.md
  powerbi-docs/mobile-windows-10-phone-app-get-started.md
  powerbi-docs/service-how-to-collaborate-distribute-dashboards-reports.md
Labels: Change sent to author, assigned-to-author, powerbi, ready-to-merge

#83 typo: Double word "the"
  powerbi-docs/desktop-sap-bw-connector.md
Labels: Change sent to author, do-not-merge, powerbi

#100 Update rls-limitations.md
  powerbi-docs/includes/rls-limitations.md
Labels: Change sent to author, do-not-merge

#95 Update desktop-tooltips.md
  powerbi-docs/desktop-tooltips.md
Labels: Change sent to author, do-not-merge, powerbi

#59 Clarified the meaning of "latest data" as it was misleading
  powerbi-docs/desktop-analysis-services-tabular-data.md
Labels: Change sent to author, assigned-to-author, do-not-merge, powerbi
