Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-11, with the labels that each got.

#1574 Update refresh-data.md
  powerbi-docs/refresh-data.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc, triaged

#1558 Update service-admin-portal.md
  powerbi-docs/service-admin-portal.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1554 Update service-admin-faq.md
  powerbi-docs/service-admin-faq.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1551 Update service-admin-premium-purchase.md
  powerbi-docs/service-admin-premium-purchase.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1532 Update service-admin-licensing-organization.md
  powerbi-docs/service-admin-licensing-organization.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1531 Update service-features-license-type.md
  powerbi-docs/service-features-license-type.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1529 Update service-self-service-signup-for-power-bi.md
  powerbi-docs/service-self-service-signup-for-power-bi.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1499 QnAMode -> QnaMode
  powerbi-docs/developer/qanda.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1580 Corrected a typo and changed a bit of punctuation.
  powerbi-docs/service-template-apps-overview.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1578 Commitment change
  powerbi-docs/desktop-accessibility-overview.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1555 Add link to public HANA Client tools
  powerbi-docs/desktop-sap-hana.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1553 DirectQuery supports user authentication against target via Kerberos
  powerbi-docs/desktop-use-directquery.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1541 Include link to schema generation documentation
  powerbi-docs/service-machine-learning-integration.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1523 Update desktop-create-and-manage-relationships.md
  powerbi-docs/desktop-create-and-manage-relationships.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1594 Typo "**@UserID**"→"**\@UserID**"
  powerbi-docs/developer/paginated-reports-row-level-security.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1607 Added missing period
  powerbi-docs/desktop-conditional-table-formatting.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1609 Updated limitations to include shared datasets
  powerbi-docs/service-publish-to-web.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1646 Update service-connect-to-project-online.md
  powerbi-docs/service-connect-to-project-online.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-template-apps/subsvc, powerbi/svc
