Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-08, with the labels that each got.

#1228 Export data drill down
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1292 Update service-admin-portal.md
  powerbi-docs/service-admin-portal.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1293 SAP Cryptographic Library vs. OpenSSL
  powerbi-docs/service-gateway-sso-saml.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1269 Remove limit reference as it may change per source
  powerbi-docs/desktop-use-directquery.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1325 fixing broken link
  powerbi-docs/service-admin-rls.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1313 Corrected few mistakes
  powerbi-docs/developer/embed-sample-for-your-organization.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1314 Corrected distinction between SaaS and PaaS embedding following MS fi…
  powerbi-docs/developer/embedded-faq.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1340 Updating based on ICM
  powerbi-docs/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1343 Fix Case Typo - 'THe' to 'The'
  powerbi-docs/developer/embed-multi-tenancy.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1338 Update service-r-visuals.md
  powerbi-docs/visuals/service-r-visuals.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1346 Update service-gateway-sso-kerberos.md
  powerbi-docs/service-gateway-sso-kerberos.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1347 Update desktop-sap-hana.md
  powerbi-docs/desktop-sap-hana.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1339 Update service-r-packages-support.md
  powerbi-docs/service-r-packages-support.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1352 Update desktop-sap-hana.md
  powerbi-docs/desktop-sap-hana.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc
