Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-12, with the labels that each got.

#1648 Plug a typo.
  powerbi-docs/service-self-service-signup-for-power-bi.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1654 Correcting Privacy Level Error
  powerbi-docs/desktop-privacy-levels.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1650 Import
  powerbi-docs/includes/rls-limitations.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi/svc

#1674 Update Authentication part
  powerbi-docs/desktop-connect-graph-security.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1677 Add clarification to the Authentication
  powerbi-docs/desktop-connect-graph-security.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1676 Update service-gateway-sso-kerberos-sap-bw-gx64krb.md
  powerbi-docs/service-gateway-sso-kerberos-sap-bw-gx64krb.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1675 Update service-gateway-sso-kerberos-sap-bw-commoncryptolib.md
  powerbi-docs/service-gateway-sso-kerberos-sap-bw-commoncryptolib.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc, ready-to-merge

#1641 Update service-gateway-sso-kerberos.md
  powerbi-docs/service-gateway-sso-kerberos.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc, ready-to-merge

#1700 Update whitepaper-powerbi-security.md
  powerbi-docs/whitepaper-powerbi-security.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1708 Update service-template-apps-tips.md
  powerbi-docs/service-template-apps-tips.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc
