Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-02, with the labels that each got.

#675 typo: Powwer -> Power
  powerbi-docs/guided-learning/includes/3-11d-customize-summarization-categorization.md
Labels: Change sent to author, do-not-merge

#677 typo: Contributing docs
  contributor-guide/create-images-markdown.md
  contributor-guide/custom-markdown-extensions.md
  contributor-guide/powerbi-search-page-guidance.md
  contributor-guide/single-page-html-conversion.md
  contributor-guide/tools-and-setup.md
Labels: Change sent to author, contributor-guide/svc, do-not-merge

#727 typo: Powre -> Power
  powerbi-docs/developer/power-bi-permissions.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#679 typo: powerbi-docs/desktop-analytics-pane.md
  powerbi-docs/desktop-analytics-pane.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#680 typo: powerbi-docs/desktop-bookmarks.md
  powerbi-docs/desktop-bookmarks.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#726 typo: powerbi-docs/developer/migrate-tool.md
  powerbi-docs/developer/migrate-tool.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#723 typo: Maxumum -> Maximum
  powerbi-docs/guided-learning/includes/3-9a-modifying-colors.md
Labels: Change sent to author, do-not-merge

#722 typo: Dashboarde -> Dashboard
  powerbi-docs/developer/embed-sample-for-customers-sovereign-clouds.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#681 typo: powerbi-docs/desktop-calculated-tables.md
  powerbi-docs/desktop-calculated-tables.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#719 typo: Tennesee -> Tennessee
  powerbi-docs/consumer/end-user-drill.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#718 typo: powerbi-docs/consumer/end-user-basic-concepts.md
  powerbi-docs/consumer/end-user-basic-concepts.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#685 typo: reslt -> result
  powerbi-docs/visuals/power-bi-visualization-waterfall-charts.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#686 typo: Filght -> Flight
  powerbi-docs/desktop-directquery-about.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#687 typo: powerbi-docs/desktop-export-to-pdf.md
  powerbi-docs/desktop-export-to-pdf.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#688 typo: powerbi-docs/desktop-get-the-desktop.md
  powerbi-docs/desktop-get-the-desktop.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#689 typo: powerbi-docs/desktop-insights-find-where-different.md
  powerbi-docs/desktop-insights-find-where-different.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#690 typo: followinig -> following
  powerbi-docs/desktop-modeling-view.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#717 typo: requried -> required
  powerbi-docs/template-content-pack-experience.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#714 typo: VIsualizations -> Visualizations
  powerbi-docs/service-report-create-new.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#715 typo: powerbi-docs/service-tutorial-connect-to-github.md
  powerbi-docs/service-tutorial-connect-to-github.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#692 typo: pacakges -> packages
  powerbi-docs/desktop-python-scripts.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#716 typo: powerbi-docs/sql-server-analysis-services-tabular-data.md
  powerbi-docs/sql-server-analysis-services-tabular-data.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#695 typo: retreive -> retrieve
  powerbi-docs/desktop-ssas-multidimensional.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#713 typo: eellipses -> ellipses
  powerbi-docs/service-pin-tile-to-another-dashboard.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#697 typo: suport -> support
  powerbi-docs/paginated-reports-save-to-power-bi-service.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#698 typo: JavaSCriptS -> JavaScript
  powerbi-docs/power-bi-custom-visuals-certified.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#712 typo: datasest -> dataset
  powerbi-docs/service-insights-optimize.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#699 typo: chosing -> choosing
  powerbi-docs/service-connect-to-acumatica.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#710 typo: serveral -> several
  powerbi-docs/service-gateway-onprem-manage-oracle.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#700 typo: broswer -> browser
  powerbi-docs/service-connect-to-google-analytics.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#701 typo: selet -> select
  powerbi-docs/service-cortana-enable.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#703 typo: dahboards -> dashboards
  powerbi-docs/service-dashboard-pin-tile-from-excel.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#709 fix: powerbi-docs/service-gateway-high-availability-clusters.md
  powerbi-docs/service-gateway-high-availability-clusters.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#704 typo: dashbaord -> dashboard
  powerbi-docs/service-dashboard-tiles.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#705 typo: recommneded -> recommended
  powerbi-docs/service-dataflows-azure-data-lake-integration.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#706 typo: straighforward -> straightforward
  powerbi-docs/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#708 typo: configur -> configure
  powerbi-docs/service-gateway-enterprise-manage-sql.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#707 typo: Workooks -> Workbooks
  powerbi-docs/service-delete.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#682 fix: powerbi-docs/desktop-combine-binaries.md
  powerbi-docs/desktop-combine-binaries.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#678 fix: powerbi-docs/desktop-analysis-services-tabular-data.md
  powerbi-docs/desktop-analysis-services-tabular-data.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#683 fix powerbi-docs/desktop-common-query-tasks.md
  powerbi-docs/desktop-common-query-tasks.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#684 fix: Remove encoding characters
  powerbi-docs/desktop-connect-azure-consumption-insights.md
  powerbi-docs/desktop-connect-redshift.md
  powerbi-docs/desktop-connect-snowflake.md
  powerbi-docs/desktop-connect-using-generic-interfaces.md
  powerbi-docs/desktop-data-types.md
  powerbi-docs/desktop-latest-update-archive.md
  powerbi-docs/desktop-measures.md
  powerbi-docs/desktop-see-data-see-records.md
  powerbi-docs/desktop-tutorial-facebook-analytics.md
  powerbi-docs/sample-customer-profitability.md
  powerbi-docs/sample-human-resources.md
  powerbi-docs/sample-it-spend.md
  powerbi-docs/service-whats-new.md
  powerbi-docs/visuals/power-bi-visualization-move-and-resize.md
  powerbi-docs/visuals/service-tips-and-tricks-for-color-formatting.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#731 fix: powerbi-docs/report-server/excel-oos.md
  powerbi-docs/report-server/excel-oos.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#730 fix: powerbi-docs/report-server/whats-new.md
  powerbi-docs/report-server/whats-new.md
Labels: Change sent to author, powerbi/svc, ready-to-merge

#729 fix: powerbi-docs/developer/walkthrough-push-data-add-rows.md
  powerbi-docs/developer/walkthrough-push-data-add-rows.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#728 fix: powerbi-docs/developer/qanda.md
  powerbi-docs/developer/qanda.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#725 fix: powerbi-docs/developer/migrate-code-snippets.md
  powerbi-docs/developer/migrate-code-snippets.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#711 fix: powerbi-docs/service-gateway-personal-mode.md
  powerbi-docs/service-gateway-personal-mode.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#696 fix: powerbi-docs/paginated-reports-enter-data.md
  powerbi-docs/paginated-reports-enter-data.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#694 fix: powerbi-docs/desktop-report-themes.md
  powerbi-docs/desktop-report-themes.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#691 fix: powerbi-docs/desktop-python-in-query-editor.md
  powerbi-docs/desktop-python-in-query-editor.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#773 fix: davidiseminger author metadata
  powerbi-docs/desktop-tips-and-tricks-for-creating-reports.md
  powerbi-docs/power-bi-reports-tips-and-tricks-for-creating.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#772 typo: soeone -> someone
  powerbi-docs/visuals/power-bi-visualization-treemaps.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#771 fix: powerbi-docs/report-server/scheduled-refresh-troubleshoot.md
  powerbi-docs/report-server/scheduled-refresh-troubleshoot.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#770 fix: powerbi-docs/report-server/quickstart-embed.md
  powerbi-docs/report-server/quickstart-embed.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#768 fix: powerbi-docs/report-server/configure-kerberos-powerbi-reports.md
  powerbi-docs/report-server/configure-kerberos-powerbi-reports.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#734 fix: powerbi-docs/visuals/power-bi-visualization-customize-x-axis-and-y-axis.md
  powerbi-docs/visuals/power-bi-visualization-customize-x-axis-and-y-axis.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#735 typo: pageto -> page to
  powerbi-docs/visuals/power-bi-visualization-filled-maps-choropleths.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#736 typo: languagues -> languages
  powerbi-docs/visuals/power-bi-visualization-tables.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#737 typo: Worksapces -> Workspaces
  powerbi-docs/service-dataflows-configure-workspace-storage-settings.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#738 fix: powerbi-docs/service-gateway-onprem-tshoot.md
  powerbi-docs/service-gateway-onprem-tshoot.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#739 typo: mutliple -> multiple
  powerbi-docs/template-content-pack-authoring.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#741 typo: privelege -> privilege
  powerbi-docs/desktop-error-launching-desktop.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#742 typo: hte -> the
  powerbi-docs/desktop-insights.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#743 typo: powerbi-docs/desktop-tooltips.md
  powerbi-docs/desktop-tooltips.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#758 fix: powerbi-docs/developer/embedded-faq.md
  powerbi-docs/developer/embedded-faq.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#759 fix: powerbi-docs/developer/embedded-troubleshoot.md
  powerbi-docs/developer/embedded-troubleshoot.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#760 typo: organziation -> organization
  powerbi-docs/developer/migrate-from-powerbi-embedded.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#767 typo: Expresssions -> Expressions
  powerbi-docs/report-server/changelog.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#764 typo: touse -> to use
  powerbi-docs/guided-learning/includes/7-6-dax-tables-and-filtering.md
Labels: Change sent to author, do-not-merge

#745 typo: trasparency -> transparency
  powerbi-docs/desktop-visual-elements-for-reports.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#744 typo: attemp -> attempt
  powerbi-docs/desktop-troubleshooting-sign-in.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#766 fix: powerbi-docs/includes/gateway-onprem-faq-shared-include.md
  powerbi-docs/includes/gateway-onprem-faq-shared-include.md
Labels: Change sent to author, do-not-merge

#765 fix: powerbi-docs/includes/gateway-onprem-accounts-ports-more.md
  powerbi-docs/includes/gateway-onprem-accounts-ports-more.md
Labels: Change sent to author, do-not-merge

#746 typo: CustomerIndicents -> CustomerIncidents
  powerbi-docs/desktop-tips-and-tricks-for-creating-reports.md
  powerbi-docs/power-bi-reports-tips-and-tricks-for-creating.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#754 typo: powerbi-docs/service-dataflows-overview.md
  powerbi-docs/service-dataflows-overview.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#751 typo: organisations -> organizations
  powerbi-docs/service-connect-to-xero.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#750 typo: ProgramActivites -> ProgramActivities
  powerbi-docs/service-connect-to-marketo.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#753 typo: dependences -> dependencies
  powerbi-docs/service-dataflows-linked-entities.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#748 typo: powerbi-docs/service-analytics-pane.md
  powerbi-docs/service-analytics-pane.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#724 fix: powerbi-docs/developer/encrypt-credentials.md
  powerbi-docs/developer/encrypt-credentials.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#785 Updated an incomplete command
  powerbi-docs/developer/custom-visual-develop-tutorial.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#769 fix: powerbi-docs/report-server/configure-powerbi-mobile-apps-remote.md
  powerbi-docs/report-server/configure-powerbi-mobile-apps-remote.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#757 fix: powerbi-docs/developer/embed-service-principal.md
  powerbi-docs/developer/embed-service-principal.md
Labels: Change sent to author, do-not-merge

#756 fix: powerbi-docs/developer/embed-sample-for-your-organization.md
  powerbi-docs/developer/embed-sample-for-your-organization.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#755 fix: powerbi-docs/developer/azure-pbie-diag-logs.md
  powerbi-docs/developer/azure-pbie-diag-logs.md
Labels: Change sent to author, do-not-merge, power-bi-embedded/svc

#752 fix: powerbi-docs/service-cortana-troubleshoot.md
  powerbi-docs/service-cortana-troubleshoot.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#749 fix: powerbi-docs/service-connect-to-adobe-analytics.md
  powerbi-docs/service-connect-to-adobe-analytics.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#747 fix: powerbi-docs/power-bi-whitelist-urls.md
  powerbi-docs/power-bi-whitelist-urls.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#740 fix: powerbi-docs/developer/embed-sample-for-customers.md
  powerbi-docs/developer/embed-sample-for-customers.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#721 fix: powerbi-docs/developer/api-dataset-properties.md
  powerbi-docs/developer/api-dataset-properties.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#720 fix: powerbi-docs/consumer/mobile/mobile-oauth-ssrs.md
  powerbi-docs/consumer/mobile/mobile-oauth-ssrs.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#693 fix: powerbi-docs/desktop-r-in-query-editor.md
  powerbi-docs/desktop-r-in-query-editor.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#676 chore: Remove testing files
  examples/Maggie091615Test.md
  examples/asaxton-test.md
  examples/carla-test.md
  examples/carlaTest2.md
  examples/derrick-test.md
  examples/heidi-test.md
  examples/maggie-test.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#636 Add many-to-many relationship
  powerbi-docs/desktop-create-and-manage-relationships.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#792 Updating connectors list
  powerbi-docs/service-dataflows-data-sources.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#833 Update the description of Connect Excel to Power BI online
  powerbi-docs/service-excel-workbook-files.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#843 Update service-gateway-sso-saml.md
  powerbi-docs/service-gateway-sso-saml.md
Labels: Change sent to author, do-not-merge, powerbi/svc
