Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-07, with the labels that each got.

#1212 Fixed typo in service-dataflows-incremental-refresh.md
  powerbi-docs/service-dataflows-incremental-refresh.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1217 Update get-started.md
  powerbi-docs/report-server/get-started.md
Labels: Change sent to author, do-not-merge, powerbi-report-server/subsvc, powerbi/svc

#1219 Update refresh-data.md
  powerbi-docs/refresh-data.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1144 Update service-gateway-sso-saml.md
  powerbi-docs/service-gateway-sso-saml.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1200 Changes due to PII issues
  powerbi-docs/developer/azure-pbie-diag-logs.md
Labels: Change sent to author, assessing (C&L), do-not-merge, power-bi-embedded/svc

#1238 Update service-r-packages-support.md
  powerbi-docs/service-r-packages-support.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1241 Updating R package list
  powerbi-docs/service-r-packages-support.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1244 Jaduong patch 1
  powerbi-docs/media/service-connect-to-project-online/getstarted.png
  powerbi-docs/service-connect-to-project-online.md
Labels: assessing (C&L), do-not-merge

#1240 Update refresh-data.md
  powerbi-docs/refresh-data.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1249 Update service-gateway-sso-kerberos.md
  powerbi-docs/service-gateway-sso-kerberos.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1247 Update service-connect-to-project-online.md
  powerbi-docs/service-connect-to-project-online.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-template-apps/subsvc, powerbi/svc

#1250 Updating typos + images in PWA Documentation
  powerbi-docs/media/service-connect-to-project-online/AppSource.png
  powerbi-docs/media/service-connect-to-project-online/GetApps.png
  powerbi-docs/media/service-connect-to-project-online/ProjectTile.png
  powerbi-docs/service-connect-to-project-online.md
Labels: assessing (C&L), do-not-merge

#1270 clarifying DQ limits
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1272 Update service-r-packages-support.md to include R runtime version
  powerbi-docs/service-r-packages-support.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1278 Update embed-sample-for-your-organization.md
  powerbi-docs/developer/embed-sample-for-your-organization.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1279 Update paginated-reports-faq.md
  powerbi-docs/paginated-reports-faq.md
Labels: Change sent to author, assessing (C&L), do-not-merge, powerbi/svc, report-builder/subsvc
