Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-10, with the labels that each got.

#1497 Typo "*@input_schema*"→"*\@input_schema*"
  powerbi-docs/service-machine-learning-integration.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1515 Added support for OAuth 2.0 in power BI docs.
  powerbi-docs/desktop-connect-azure-cost-management.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1516 Minor text fixes
  powerbi-docs/desktop-connect-azure-cost-management.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1508 Update desktop-quickstart-connect-to-data.md
  powerbi-docs/desktop-quickstart-connect-to-data.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1492 Update desktop-sap-bw-connector.md
  powerbi-docs/desktop-sap-bw-connector.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1536 Update service-data-lineage.md
  powerbi-docs/service-data-lineage.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi/svc

#1546 Update service-data-lineage.md
  powerbi-docs/service-data-lineage.md
Labels: Change sent to author, do-not-merge, powerbi/svc

#1509 Update PBIRS release cadence
  powerbi-docs/report-server/compare-report-server-service.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-report-server/subsvc, powerbi/svc

#1552 Update refresh-data.md
  powerbi-docs/refresh-data.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1543 Added new note
  powerbi-docs/power-bi-cannot-sign-in.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1557 Update whitepaper-azure-b2b-power-bi.md
  powerbi-docs/whitepaper-azure-b2b-power-bi.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1567 Update service-admin-auditing.md
  powerbi-docs/service-admin-auditing.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1530 Update license-capabilities.md
  powerbi-docs/includes/license-capabilities.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi/svc
