Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-09, with the labels that each got.

#1382 Update service-gateway-sso-kerberos.md
  powerbi-docs/service-gateway-sso-kerberos.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1420 Update service-azure-sql-database-with-direct-connect.md
  powerbi-docs/service-azure-sql-database-with-direct-connect.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1423 Update service-publish-to-web.md
  powerbi-docs/service-publish-to-web.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1440 Fixed typo (exapmle)
  powerbi-docs/desktop-accessibility.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1445 Added a missing space
  powerbi-docs/desktop-sap-hana-encryption.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1447 Update whitepapers.md
  powerbi-docs/whitepapers.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1451 Added a question
  powerbi-docs/includes/rls-faq.md
Labels: assessing_(C&L), do-not-merge, review-team-triage

#1457 Update data-sources.md
  powerbi-docs/report-server/data-sources.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-report-server/subsvc, powerbi/svc
