Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-05, with the labels that each got.

#1010 Update service-gateway-sso-saml.md
  powerbi-docs/service-gateway-sso-saml.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#1030 fix typo
  powerbi-docs/service-connect-to-github.md
Labels: Change sent to author, powerbi-template-apps/subsvc, powerbi/svc

#1060 Update power-bi-overview.md
  powerbi-docs/power-bi-overview.md
Labels: Change sent to author, powerbi-service/subsvc, powerbi/svc

#1064 [WTD]: Making gender neutral language
  powerbi-docs/whitepaper-powerbi-security.md
Labels: :book: Write the Docs, Change sent to author, powerbi-service/subsvc, powerbi/svc

#1061 Update 0-0-what-is-power-bi.md
  powerbi-docs/guided-learning/includes/0-0-what-is-power-bi.md
Labels: :book: Write the Docs, Change sent to author

#1062 Update whitepaper-azure-b2b-power-bi.md
  powerbi-docs/whitepaper-azure-b2b-power-bi.md
Labels: :book: Write the Docs, Change sent to author, powerbi-service/subsvc, powerbi/svc

#1066 [WTD]-remove-gendered-language
  powerbi-docs/visuals/power-bi-visualization-customize-title-background-and-legend.md
Labels: :book: Write the Docs, Change sent to author, powerbi-desktop/subsvc, powerbi/svc

#1063 Update whitepaper-azure-b2b-power-bi.md
  powerbi-docs/whitepaper-azure-b2b-power-bi.md
Labels: :book: Write the Docs, Change sent to author, powerbi-service/subsvc, powerbi/svc

#1070 Update service-gateway-deployment-guidance.md
  powerbi-docs/service-gateway-deployment-guidance.md
Labels: Change sent to author, powerbi-gateways/subsvc, powerbi/svc

#1057 Update service-url-filters.md
  powerbi-docs/service-url-filters.md
Labels: Change sent to author, powerbi-service/subsvc, powerbi/svc

#1074 Update refresh-troubleshooting-tile-errors.md
  powerbi-docs/refresh-troubleshooting-tile-errors.md
Labels: Change sent to author, powerbi-service/subsvc, powerbi/svc

#1080 Add clarity on scale out configuration
  powerbi-docs/report-server/scheduled-refresh.md
Labels: Change sent to author, powerbi-report-server/subsvc, powerbi/svc
