Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2019-04, with the labels that each got.

#940 Update service-analyze-in-excel.md
  powerbi-docs/service-analyze-in-excel.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#951 Updated admin tenant settings to match what is currently shown in the UI.
  .gitignore
  powerbi-docs/media/service-admin-portal/powerbi-admin-tenant-settings.png
  powerbi-docs/service-admin-portal.md
Labels: Change sent to author, powerbi-admin/subsvc, powerbi/svc, ready-to-merge

#960 Update end-user-interactions.md
  powerbi-docs/consumer/end-user-interactions.md
Labels: Change sent to author, do-not-merge, powerbi-consumer/subsvc, powerbi/svc

#965 Update service-template-apps-create.md
  powerbi-docs/service-template-apps-create.md
Labels: Change sent to author, powerbi/svc, ready-to-merge

#968 Fix typo
  powerbi-docs/desktop-cross-report-drill-through.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#969 Fix grammar
  powerbi-docs/service-service-vs-desktop.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#972 Update ACM Connector docs
  powerbi-docs/desktop-connect-azure-consumption-insights.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#976 Update custom-visual-develop-tutorial.md
  powerbi-docs/developer/custom-visual-develop-tutorial.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#961 Update service-tutorial-invoke-machine-learning-model.md
  powerbi-docs/service-tutorial-invoke-machine-learning-model.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#989 Table & Matrix Keyboard Shortcuts
  powerbi-docs/desktop-accessibility.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#992 fix typo
  powerbi-docs/power-bi-report-display-settings.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1000 typo in text
  powerbi-docs/service-new-workspaces.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc
