Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-08, with the labels that each got.

#2405 Update Note for getting around firefox certificate blocking
  powerbi-docs/developer/visuals/custom-visual-develop-tutorial.md
Labels: Change sent to author, aq-pr-triaged, powerbi-custom-visuals/subsvc, powerbi/svc, ready-to-merge

#2430 Update service-admin-portal.md
  powerbi-docs/admin/service-admin-portal.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2442 Update service-dataflows-directquery.md
  powerbi-docs/transform-model/service-dataflows-directquery.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2457 Update OneDrive Grammar
  powerbi-docs/create-reports/deployment-pipelines-best-practices.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2456 Update location of button
  powerbi-docs/create-reports/deployment-pipelines-process.md
Labels: Change sent to author, aq-pr-triaged, powerbi-service/subsvc, powerbi/svc, ready-to-merge
