Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-10, with the labels that each got.

#2535 updating output size limit for R visuals
  powerbi-docs/create-reports/desktop-r-visuals.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2542 Update desktop-connect-bigquery.md
  powerbi-docs/connect-data/desktop-connect-bigquery.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2544 Update connect-adfs-wap-report-server.md
  powerbi-docs/report-server/connect-adfs-wap-report-server.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-report-server/subsvc, powerbi/svc

#2548 Update paginated reports FAQ
  powerbi-docs/paginated-reports/paginated-reports-faq.md
Labels: Change sent to author, aq-pr-triaged, powerbi/svc, ready-to-merge, report-builder/subsvc

#2551 Add image of expiration notification
  powerbi-docs/paginated-reports/media/paginated-reports-faq/expired-session-notification.png
  powerbi-docs/paginated-reports/paginated-reports-faq.md
Labels: Change sent to author, powerbi/svc, ready-to-merge, report-builder/subsvc

#2553 Update deployment-pipelines-troubleshooting.md
  powerbi-docs/create-reports/deployment-pipelines-troubleshooting.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2573 Update service-encryption-customer-managed-keys.md
  powerbi-docs/admin/service-encryption-customer-managed-keys.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2558 Document the Storage API option
  powerbi-docs/connect-data/desktop-connect-bigquery.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2549 Update desktop-tutorial-row-level-security-onprem-ssas-tabular.md
  powerbi-docs/connect-data/desktop-tutorial-row-level-security-onprem-ssas-tabular.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2561 Update reference to incorrect table name
  powerbi-docs/guidance/rls-guidance.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2570 Update changelog.md
  powerbi-docs/developer/visuals/changelog.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc
