Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-09, with the labels that each got.

#2468 Typo
  powerbi-docs/admin/service-admin-rls.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2453 FileExtension removal from CSV and XML
  powerbi-docs/paginated-reports/report-builder-url-parameters.md
Labels: Change sent to author, aq-pr-triaged, powerbi/svc, ready-to-merge, report-builder/subsvc

#2475 Further clarity on role requirements
  powerbi-docs/connect-data/service-gateway-enterprise-manage-ssas.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#2482 fix incorrect docs for parameterPanel
  powerbi-docs/paginated-reports/report-builder-url-parameters.md
Labels: Change sent to author, powerbi/svc, ready-to-merge, report-builder/subsvc

#2439 Specify python limitation in this doc
  powerbi-docs/collaborate-share/service-publish-to-web.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2377 Update end-user-paginated-report.md
  powerbi-docs/consumer/end-user-paginated-report.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-consumer/subsvc, powerbi/svc

#2414 Escaping chars during export - additional context
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2464 Add Power BI Support in Incremental Refresh
  powerbi-docs/admin/service-premium-what-is.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2460 Update direct-query-sso.md with MFA disclamer
  powerbi-docs/includes/direct-query-sso.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi/svc

#2505 Updating Limitations for Publish to Web - Q&A visuals
  powerbi-docs/collaborate-share/service-publish-to-web.md
Labels: Change sent to author, aq-pr-triaged, powerbi-service/subsvc, powerbi/svc, ready-to-merge

#2514 Update service-admin-failover.md
  powerbi-docs/admin/service-admin-failover.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2524 Update service-new-look-where-actions.md
  powerbi-docs/consumer/service-new-look-where-actions.md
Labels: Change sent to author, aq-pr-triaged, powerbi-consumer/subsvc, powerbi/svc, ready-to-merge
