Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-05, with the labels that each got.

#2050 update limitation for App from V1 Workspaces
  powerbi-docs/service-edit-sap-variables.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2139 updating AnalyzeInExcel docs for audit event for report
  powerbi-docs/service-admin-auditing.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2150 Update Oracle documentation
  powerbi-docs/desktop-connect-oracle-database.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2158 Update service-admin-auditing.md
  powerbi-docs/service-admin-auditing.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2165 Revert "Update service-admin-auditing.md"
  powerbi-docs/service-admin-auditing.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2143 Installing Snowflake driver
  powerbi-docs/desktop-connect-snowflake.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2168 Revert "Installing Snowflake driver"
  powerbi-docs/desktop-connect-snowflake.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2179 Fixed some minor typos
  powerbi-docs/developer/embedded/embed-dynamic-binding.md
  powerbi-docs/developer/visuals/power-bi-visuals-concept.md
  powerbi-docs/developer/visuals/visual-project-structure.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#2178 Fixed typos
  powerbi-docs/connect-data/desktop-connect-azure-consumption-insights.md
  powerbi-docs/create-reports/desktop-tips-and-tricks-for-creating-reports.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2197 Update title and edit for wording
  powerbi-docs/learning-catalog/paginated-reports-online-course.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi/svc, report-builder/subsvc

#2188 To add a report in Microsoft Teams with Power BI Tab, user must have …
  powerbi-docs/collaborate-share/service-embed-report-microsoft-teams.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2183 Update service-embed-report-microsoft-teams.md
  powerbi-docs/collaborate-share/service-embed-report-microsoft-teams.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2184 Update desktop-cross-report-drill-through.md
  powerbi-docs/create-reports/desktop-cross-report-drill-through.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2216 Update service-admin-azure-ad-b2b.md
  powerbi-docs/admin/service-admin-azure-ad-b2b.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc
