Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-07, with the labels that each got.

#2368 Updated service-embed-secure.md
  powerbi-docs/collaborate-share/service-embed-secure.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2320 Update service-dataflows-connect-azure-data-lake-storage-gen2.md
  powerbi-docs/transform-model/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2321 Added Limitations of SPN
  powerbi-docs/includes/service-principal-limitations.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#2318 Add redirect_uri to graph security connector
  powerbi-docs/connect-data/desktop-connect-graph-security.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2381 Update rdl-url-parameter to add reportView
  powerbi-docs/paginated-reports/report-builder-url-parameters.md
Labels: Change sent to author, do-not-merge, powerbi/svc, report-builder/subsvc

#2387 Oracle doc update
  powerbi-docs/connect-data/desktop-connect-oracle-database.md
  powerbi-docs/connect-data/service-gateway-onprem-manage-oracle.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#2395 Typo "*zalan@onmicrosoft.com*"→"*zalan\@onmicrosoft.com*"
  powerbi-docs/admin/service-admin-signing-up-for-power-bi-with-a-new-office-365-trial.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2400 Update service-gateway-onprem-manage-oracle.md
  powerbi-docs/connect-data/service-gateway-onprem-manage-oracle.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#2388 Update service-desktop-files.md
  powerbi-docs/connect-data/service-desktop-files.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc
