Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-06, with the labels that each got.

#2243 Disclaimer added and page updated
  powerbi-docs/connect-data/service-azure-sql-database-with-direct-connect.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2259 Add doc on support of "rdl:targetSameWindow=true"
  powerbi-docs/paginated-reports/report-builder-url-parameters.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi/svc, report-builder/subsvc

#2255 Update protecting-proprietary-data section per customer feedback
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2263 Fixing protection on export paragraph
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#2278 Fix typo
  powerbi-docs/connect-data/refresh-data.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2275 update AnalyzedByExternalApplication
  powerbi-docs/admin/service-admin-auditing.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2290 Mmissing space in the command at line 153
  powerbi-docs/admin/service-encryption-byok.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2314 Update service-dataflows-connect-azure-data-lake-storage-gen2.md
  powerbi-docs/transform-model/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#2327 Update paginated-reports-report-builder-power-bi.md
  powerbi-docs/paginated-reports/paginated-reports-report-builder-power-bi.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi/svc, report-builder/subsvc

#2331 fix typo
  powerbi-docs/connect-data/service-gateway-power-bi-faq.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#2347 Minor typo fixed
  powerbi-docs/guidance/whitepaper-azure-b2b-power-bi.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc
