Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-01, with the labels that each got.

#1724 Update quickstart-embed.md
  powerbi-docs/report-server/quickstart-embed.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-report-server/subsvc, powerbi/svc

#1713 Changed position of quote
  powerbi-docs/service-url-filters.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1731 Update service-admin-portal.md
  powerbi-docs/service-admin-portal.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1726 Scan mode off
  powerbi-docs/desktop-accessibility-creating-reports.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1753 Update service-dashboards.md
  powerbi-docs/service-dashboards.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1752 limitations for items included in apps
  powerbi-docs/service-item-contact.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1759 Update service-dashboard-pin-tile-from-q-and-a.md
  powerbi-docs/service-dashboard-pin-tile-from-q-and-a.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1760 Update service-dashboard-add-widget.md
  powerbi-docs/service-dashboard-add-widget.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1756 Limitations & Considerations
  powerbi-docs/desktop-report-themes.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1774 Update description of Query Memory Limit and Query Timeout settings
  powerbi-docs/service-admin-premium-workloads.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1788 multiple files: fix typos
  powerbi-docs/desktop-templates.md
  powerbi-docs/developer/embed-sample-for-customers.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc
