Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-02, with the labels that each got.

#1801 Update desktop-connect-azure-cost-management.md
  powerbi-docs/desktop-connect-azure-cost-management.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1820 Update service-real-time-streaming.md
  powerbi-docs/service-real-time-streaming.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1808 Fix insecure links
  ThirdPartyNotices
  powerbi-docs/developer/power-bi-custom-visuals.md
  powerbi-docs/developer/visuals/media/visual-concept.svg
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1835 Fix typos: Office 356 => Office 365
  powerbi-docs/developer/embed-sample-for-customers-national-clouds.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1838 Update visual-project-structure.md
  powerbi-docs/developer/visuals/visual-project-structure.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#1847 Updated the right Snowflake docs link
  powerbi-docs/desktop-connect-snowflake.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1858 Update service-govus-overview.md
  powerbi-docs/service-govus-overview.md
Labels: Change sent to author, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1793 Update desktop-ai-insights.md
  powerbi-docs/desktop-ai-insights.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1798 Update embedded-custom-layout.md
  powerbi-docs/developer/embedded-custom-layout.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-developer/subsvc, powerbi/svc

#1819 term "customer" was used, when "user" was referred
  powerbi-docs/natural-language/q-and-a-best-practices.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-service/subsvc, powerbi/svc

#1867 updated input data size limit
  powerbi-docs/desktop-python-visuals.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1866 updated input data file size
  powerbi-docs/visuals/service-r-visuals.md
Labels: Change sent to author, assessing_(C&L), do-not-merge, powerbi-desktop/subsvc, powerbi/svc
