Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-12, with the labels that each got.

#2666 Update desktop-accessibility-keyboard-shortcuts.md
  powerbi-docs/create-reports/desktop-accessibility-keyboard-shortcuts.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-reports-dashboards/subsvc, powerbi/svc

#2676 Fix typo: encriptor -> encryptor
  powerbi-docs/developer/automation/configure-credentials.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2679 Fixed typo
  powerbi-docs/admin/TOC.yml
Labels: do-not-merge, review-team-triage

#2699 Typo "VS code"→"VS Code"
  powerbi-docs/developer/visuals/environment-setup.md
Labels: Change sent to author, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc
