Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-11, with the labels that each got.

#2589 Update embed-sample-for-customers.md
  powerbi-docs/developer/embedded/embed-sample-for-customers.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2611 Update service-template-apps-overview.md
  powerbi-docs/connect-data/service-template-apps-overview.md
Labels: Change sent to author, do-not-merge, powerbi-template-apps/subsvc, powerbi/svc

#2640 Update power-bi-browsers.md
  powerbi-docs/fundamentals/power-bi-browsers.md
Labels: Change sent to author, powerbi-consumer/subsvc, powerbi/svc, ready-to-merge

#2643 Update developer-handbook-overview.md
  powerbi-docs/report-server/developer-handbook-overview.md
Labels: Change sent to author, powerbi-report-server/subsvc, powerbi/svc, ready-to-merge

#2644 Update drill-down-support.md
  powerbi-docs/developer/visuals/drill-down-support.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#2647 Update service-premium-what-is.md
  powerbi-docs/admin/service-premium-what-is.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-premium/subsvc, powerbi/svc
