Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2020-03, with the labels that each got.

#1851 Update dataview-mappings.md
  powerbi-docs/developer/visuals/dataview-mappings.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#1895 Update desktop-data-source-prerequisites.md
  powerbi-docs/desktop-data-source-prerequisites.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1903 Installing two separate PBID applications.
  powerbi-docs/desktop-get-the-desktop.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1924 Update power-bi-data-sources.md
  powerbi-docs/power-bi-data-sources.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1925 Update service-admin-portal.md
  powerbi-docs/service-admin-portal.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#1932 Model language details
  powerbi-docs/desktop-auto-date-time.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1943 Update report-paginated-data-retrieval.md
  powerbi-docs/guidance/report-paginated-data-retrieval.md
Labels: Change sent to author, do-not-merge, powerbi/svc, report-builder/subsvc

#1948 Update power-bi-visualization-combo-chart.md
  powerbi-docs/visuals/power-bi-visualization-combo-chart.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1950 Update power-bi-visualization-filled-maps-choropleths.md
  powerbi-docs/visuals/power-bi-visualization-filled-maps-choropleths.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1956 Update service-dataflows-connect-azure-data-lake-storage-gen2.md
  powerbi-docs/service-dataflows-connect-azure-data-lake-storage-gen2.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc

#1955 Updating R scripting docs about plotting device
  powerbi-docs/desktop-r-visuals.md
  powerbi-docs/visuals/service-r-visuals.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1986 update anaconda issues
  powerbi-docs/desktop-python-scripts.md
Labels: Change sent to author, do-not-merge, powerbi-desktop/subsvc, powerbi/svc

#1987 Add the word custom
  powerbi-docs/service-report-subscribe.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-service/subsvc, powerbi/svc
