Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-02, with the labels that each got.

#2796 Update service-security-using-microsoft-cloud-app-security-controls.md
  powerbi-docs/admin/service-security-using-microsoft-cloud-app-security-controls.md
Labels: Change sent to author, do-not-merge, powerbi-eim/subsvc, powerbi/svc

#2800 25th Jan 2021 Release Product Installation SS
  powerbi-docs/report-server/media/install-report-server/pbireportserver-choose-edition.png
  powerbi-docs/report-server/media/install-report-server/pbireportserver-configure.png
  powerbi-docs/report-server/media/install-report-server/pbireportserver-eula.png
  powerbi-docs/report-server/media/install-report-server/pbireportserver-install-file-path.png
  powerbi-docs/report-server/media/install-report-server/pbireportserver-install-files-only.png
  powerbi-docs/report-server/media/install-report-server/pbireportserver-install.png
Labels: Change sent to author, aq-pr-triaged, do-not-merge

#2805 Update whitepapers.md
  powerbi-docs/guidance/whitepapers.md
Labels: Change sent to author, aq-pr-triaged, powerbi/subsvc, powerbi/svc, ready-to-merge

#2815 Added note to pre-requisites (currently not supporting ADLS Gen2 Stor…
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-dataflows/subsvc, powerbi/svc

#2853 Update service-connect-to-microsoft-sustainability-calculator.md
  powerbi-docs/connect-data/service-connect-to-microsoft-sustainability-calculator.md
Labels: Change sent to author, do-not-merge, powerbi-template-apps/subsvc, powerbi/svc

#2860 Update custom connector certification instructions.
  powerbi-docs/connect-data/desktop-connector-extensibility.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-data-sources/subsvc, powerbi/svc
