Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-01, with the labels that each got.

#2713 Updating prerequisites section.
  powerbi-docs/connect-data/service-connect-to-microsoft-sustainability-calculator.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-template-apps/subsvc, powerbi/svc

#2722 Fix link to service-modern-usage-metrics
  powerbi-docs/collaborate-share/service-usage-metrics.md
Labels: Change sent to author, aq-pr-triaged, pbi-collaborate-share/subsvc, powerbi/svc, ready-to-merge

#2728 Update service-premium-what-is.md
  powerbi-docs/admin/service-premium-what-is.md
Labels: Change sent to author, do-not-merge, powerbi-premium/subsvc, powerbi/svc

#2724 Update connect-data-source-apis-pre-oct-2020.md
  powerbi-docs/report-server/connect-data-source-apis-pre-oct-2020.md
Labels: Change sent to author, aq-pr-triaged, powerbi-report-server/subsvc, powerbi/svc, ready-to-merge

#2731 Update desktop-error-launching-desktop.md
  powerbi-docs/connect-data/desktop-error-launching-desktop.md
Labels: Change sent to author, aq-pr-triaged, pbi-data-sources/subsvc, powerbi/svc, ready-to-merge

#2739 Update desktop-directquery-about.md
  powerbi-docs/connect-data/desktop-directquery-about.md
Labels: Change sent to author, do-not-merge, pbi-data-sources/subsvc, powerbi/svc

#2750 Update export-paginated-report.md for SSO with SQL and Dataverse
  powerbi-docs/developer/embedded/export-paginated-report.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2740 Fixed authority uri in code snippets
  powerbi-docs/developer/automation/walkthrough-push-data-get-token.md
  powerbi-docs/developer/embedded/migrate-code-snippets.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2757 Update row-level-security-report-server.md
  powerbi-docs/report-server/row-level-security-report-server.md
Labels: Change sent to author, powerbi-report-server/subsvc, powerbi/svc, ready-to-merge

#2763 Typo "Azure Blob storage"→"Azure Blob Storage"
  powerbi-docs/guidance/whitepaper-powerbi-security.md
Labels: Change sent to author, do-not-merge, powerbi/subsvc, powerbi/svc

#2764 Typo "Azure Blob storage"→"Azure Blob Storage"
  powerbi-docs/admin/service-admin-power-bi-security.md
Labels: Change sent to author, do-not-merge, powerbi-admin/subsvc, powerbi/svc

#2772 fix typo(two side -> many side)
  powerbi-docs/transform-model/desktop-relationships-understand.md
Labels: Change sent to author, do-not-merge, pbi-transform-model/subsvc, powerbi/svc

#2768 Update power-bi-data-sources.md
  powerbi-docs/connect-data/power-bi-data-sources.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-data-sources/subsvc, powerbi/svc

#2776 Update desktop-connect-oracle-database.md
  powerbi-docs/connect-data/desktop-connect-oracle-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-data-sources/subsvc, powerbi/svc

#2779 Remove MFA limitation disclaimer
  powerbi-docs/includes/direct-query-sso.md
Labels: Change sent to author, do-not-merge, powerbi/svc
