Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-11, with the labels that each got.

#3382 Update service-service-vs-desktop.md
  powerbi-docs/fundamentals/service-service-vs-desktop.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-fundamentals/subsvc

#3384 Typo
  powerbi-docs/consumer/end-user-basic-concepts.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-explore/subsvc

#3385 Typo
  powerbi-docs/consumer/end-user-experience.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-explore/subsvc

#3386 Update dataflows-streaming.md
  powerbi-docs/transform-model/dataflows/dataflows-streaming.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#3403 Update Theme Repo Link in Docs
  powerbi-docs/create-reports/desktop-report-themes.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc

#3414 Update XMLA endpoint troubleshooting guide.
  powerbi-docs/admin/troubleshoot-xmla-endpoint.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#3432 Update service-quick-create-sharepoint-list.md
  powerbi-docs/create-reports/service-quick-create-sharepoint-list.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, pbi-reports-dashboards/subsvc
