Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-08, with the labels that each got.

#3228 Added ctrl + g to group visuals
  powerbi-docs/create-reports/desktop-accessibility-keyboard-shortcuts.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-reports-dashboards/subsvc

#3231 Lifted a restriction
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#3246 typo
  powerbi-docs/consumer/end-user-paginated-report.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-explore/subsvc

#3244 Update paginated-reports-faq.yml
  powerbi-docs/paginated-reports/paginated-reports-faq.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged
