Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-05, with the labels that each got.

#3051 Updated step 5. of publishing the app
  powerbi-docs/admin/service-premium-gen2-metrics-app.md
Labels: Change sent to author, do-not-merge, powerbi-premium/subsvc, powerbi/svc

#3047 Update scheduled-refresh.md
  powerbi-docs/report-server/scheduled-refresh.md
Labels: Change sent to author, aq-pr-triaged, powerbi-report-server/subsvc, powerbi/svc, ready-to-merge

#3056 Update service-admin-premium-multi-geo.md
  powerbi-docs/admin/service-admin-premium-multi-geo.md
Labels: Change sent to author, do-not-merge, powerbi-premium/subsvc, powerbi/svc

#3065 three different types of gateways
  powerbi-docs/connect-data/service-gateway-onprem.md
Labels: Change sent to author, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#3083 Removed duplicate "average lag between" (line 148)
  powerbi-docs/admin/service-premium-capacity-optimize.md
Labels: Change sent to author, do-not-merge, powerbi-premium/subsvc, powerbi/svc
