Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-09, with the labels that each got.

#3275 Update service-export-to-pbix.md
  powerbi-docs/create-reports/service-export-to-pbix.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc

#3278 Update paginated-reports-odbc-support.md
  powerbi-docs/paginated-reports/paginated-reports-odbc-support.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, report-builder/subsvc

#3264 Update large dataset storage format limitations
  powerbi-docs/admin/service-premium-large-models.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-premium/subsvc

#3273 Spelling fixes and update to Desktop Data Sources
  powerbi-docs/admin/power-bi-whitelist-urls.md
  powerbi-docs/collaborate-share/service-embed-report-spo.md
  powerbi-docs/connect-data/desktop-data-sources.md
  powerbi-docs/connect-data/media/desktop-data-sources/data-sources-01.png
  powerbi-docs/connect-data/media/desktop-data-sources/data-sources-02.png
  powerbi-docs/connect-data/media/desktop-data-sources/data-sources-05.png
  powerbi-docs/connect-data/refresh-desktop-file-onedrive.md
  powerbi-docs/connect-data/service-gateway-onprem.md
  powerbi-docs/connect-data/service-gateway-personal-mode.md
  powerbi-docs/consumer/end-user-copy-paste.md
  powerbi-docs/consumer/end-user-glossary.md
  powerbi-docs/developer/embedded/export-to.md
  powerbi-docs/developer/visuals/power-bi-custom-visuals-organization.md
  powerbi-docs/fundamentals/desktop-latest-update-archive.md
  powerbi-docs/fundamentals/webinars.md
  powerbi-docs/learning-catalog/learning-catalog-bdm.md
  powerbi-docs/learning-catalog/learning-catalog-data-analyst.md
  powerbi-docs/learning-catalog/learning-catalog-developer.md
  powerbi-docs/learning-catalog/learning-catalog-functional-consultant.md
  powerbi-docs/learning-catalog/learning-catalog-presales.md
  powerbi-docs/learning-catalog/learning-catalog-report-creator.md
  powerbi-docs/report-server/whats-new.md
  powerbi-docs/visuals/power-bi-data-points.md
  powerbi-docs/visuals/power-bi-visualization-copy-paste.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-desktop/subsvc, aq-pr-triaged, powerbi/prod

#3283 Update ODAC requirements to avoid customer confusion.
  powerbi-docs/connect-data/desktop-connect-oracle-database.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc
