Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-03, with the labels that each got.

#2894 Update desktop-accessibility-keyboard-shortcuts.md
  powerbi-docs/create-reports/desktop-accessibility-keyboard-shortcuts.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-reports-dashboards/subsvc, powerbi/svc

#2884 Update desktop-connect-oracle-database.md
  powerbi-docs/connect-data/desktop-connect-oracle-database.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-data-sources/subsvc, powerbi/svc

#2906 Update service-gateway-sql-tutorial.md
  powerbi-docs/connect-data/service-gateway-sql-tutorial.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-gateways/subsvc, powerbi/svc

#2892 JSON typo in example 1 of conditions
  powerbi-docs/developer/visuals/dataview-mappings.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#2922 Update desktop-enter-data-directly-into-desktop.md
  powerbi-docs/connect-data/desktop-enter-data-directly-into-desktop.md
Labels: Change sent to author, aq-pr-triaged, pbi-data-sources/subsvc, powerbi/svc, ready-to-merge

#2931 Move the live webinars to featured
  powerbi-docs/fundamentals/webinars.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-fundamentals/subsvc, powerbi/svc
