Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2021-04, with the labels that each got.

#2947 Update power-bi-visualization-types-for-reports-and-q-and-a.md
  powerbi-docs/visuals/power-bi-visualization-types-for-reports-and-q-and-a.md
Labels: Change sent to author, do-not-merge, pbi-visuals/subsvc, powerbi/svc

#2946 Update power-bi-report-visualizations.md
  powerbi-docs/visuals/power-bi-report-visualizations.md
Labels: Change sent to author, do-not-merge, pbi-visuals/subsvc, powerbi/svc

#2955 Update desktop-accessibility-overview.md
  powerbi-docs/create-reports/desktop-accessibility-overview.md
Labels: Change sent to author, do-not-merge, pbi-reports-dashboards/subsvc, powerbi/svc

#2958 Added references to Dataflows and Deployment Pipelines
  powerbi-docs/admin/service-premium-what-is.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-premium/subsvc, powerbi/svc

#2940 Add sentance about permissions for embedded
  powerbi-docs/developer/embedded/move-to-production.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2914 fix typo in matrix selection example
  powerbi-docs/developer/visuals/selection-api.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#2999 Update develop-circle-card.md
  powerbi-docs/developer/visuals/develop-circle-card.md
Labels: Change sent to author, do-not-merge, powerbi-custom-visuals/subsvc, powerbi/svc

#3009 fixed link in walkthrough-push-data-create-dataset
  powerbi-docs/developer/automation/walkthrough-push-data-create-dataset.md
Labels: Change sent to author, do-not-merge, powerbi-developer/subsvc, powerbi/svc

#2994 Update desktop-connect-bigquery.md
  powerbi-docs/connect-data/desktop-connect-bigquery.md
Labels: Change sent to author, aq-pr-triaged, do-not-merge, pbi-data-sources/subsvc, powerbi/svc
