Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-04, with the labels that each got.

#3706 Updated some text around "OneDrive" storage location
  powerbi-docs/collaborate-share/service-create-the-new-workspaces.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc

#3734 Requirements were unclear
  powerbi-docs/paginated-reports/paginated-reports-save-to-power-bi-service.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, report-builder/subsvc

#3744 Typo Correction
  powerbi-docs/create-reports/desktop-grouping-and-binning.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-reports-dashboards/subsvc

#3756 Updates for daylight savings fixes
  powerbi-docs/consumer/service-troubleshoot-subscribe.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged

#3777 Fix incorrect markdown escaping of backslash
  powerbi-docs/create-reports/desktop-custom-format-strings.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc
