Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-08, with the labels that each got.

#3986 Update migrate-azure-analysis-services-to-powerbi-premium.md
  powerbi-docs/guidance/migrate-azure-analysis-services-to-powerbi-premium.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc

#3985 Add link to admin portal page
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#3974 Correcting Storage RBAC assignment name
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#4012 Update embedded-row-level-security.md
  powerbi-docs/developer/embedded/embedded-row-level-security.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4017 Update end-user-basic-concepts.md
  powerbi-docs/consumer/end-user-basic-concepts.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-explore/subsvc, qualifies-for-auto-merge

#4020 Updating GetDate mechanism from Workspace DoneDrive
  powerbi-docs/collaborate-share/service-create-the-new-workspaces.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge
