Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-10, with the labels that each got.

#4099 Update BarChart and VisualsApi Tutorial
  powerbi-docs/developer/visuals/create-bar-chart.md
  powerbi-docs/developer/visuals/media/create-bar-chart/adding-data.png
  powerbi-docs/developer/visuals/media/create-bar-chart/data-binding.png
  powerbi-docs/developer/visuals/media/create-bar-chart/object-databound-property.png
  powerbi-docs/developer/visuals/media/create-bar-chart/object-show-property.png
  powerbi-docs/developer/visuals/media/create-bar-chart/property-pane.png
  powerbi-docs/developer/visuals/visual-api.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-custom-visuals/subsvc

#4116 fix typo/consistency/grammar in visuals/dataview-mappings.md
  powerbi-docs/developer/visuals/dataview-mappings.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-custom-visuals/subsvc, qualifies-for-auto-merge

#4146 Update name of the Microsoft Store
  powerbi-docs/fundamentals/desktop-what-is-desktop.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-fundamentals/subsvc, qualifies-for-auto-merge

#4135 Dynamic M Queries - risk mitigation
  powerbi-docs/connect-data/desktop-dynamic-m-query-parameters.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge

#4141 Update service-gateway-onprem-manage-oracle.md
  powerbi-docs/connect-data/service-gateway-onprem-manage-oracle.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-gateways/subsvc, aq-pr-triaged, qualifies-for-auto-merge
