Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-02, with the labels that each got.

#3569 Revert "Aligning the gx64krb5 SSO Kerberos for SAP BW doc with the other docs"
  powerbi-docs/connect-data/service-gateway-sso-kerberos-sap-bw-gx64krb.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-gateways/subsvc

#3572 Doc update for unsupported Interactive Exports for Private Links
  powerbi-docs/admin/service-security-private-links.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-security/subsvc

#3573 small typo
  powerbi-docs/consumer/end-user-apps.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-explore/subsvc

#3608 Revert "Add privileges capabilities section"
  powerbi-docs/developer/visuals/capabilities.md
  powerbi-docs/developer/visuals/changelog.md
  powerbi-docs/developer/visuals/local-storage.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-custom-visuals/subsvc

#3603 Update service-encryption-byok.md
  powerbi-docs/admin/service-encryption-byok.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#3592 Update service-admin-premium-multi-geo.md
  powerbi-docs/admin/service-admin-premium-multi-geo.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-premium/subsvc
