Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-11, with the labels that each got.

#4198 Fixing incorrect language on query/refresh isolation
  powerbi-docs/enterprise/service-premium-gen2-what-is.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-premium/subsvc, qualifies-for-auto-merge

#4152 Removing duplicated link
  powerbi-docs/transform-model/dataflows/dataflows-understand-optimize-refresh.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc, qualifies-for-auto-merge

#4176 PDF Connector supported in Premium
  powerbi-docs/connect-data/desktop-connect-pdf.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge

#4183 Update service-embed-secure.md
  powerbi-docs/collaborate-share/service-embed-secure.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4215 Update desktop-get-the-desktop.md
  powerbi-docs/fundamentals/desktop-get-the-desktop.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-fundamentals/subsvc, qualifies-for-auto-merge

#4213 Added reference to licensing requirements for B2b
  powerbi-docs/collaborate-share/service-dataset-external-org-share-admin.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4225 Fix and Correct npm package name to powerbi-models
  powerbi-docs/developer/visuals/identity-filter-api.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-custom-visuals/subsvc
