Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-03, with the labels that each got.

#3653 Refresh Id updated to Request Id
  powerbi-docs/connect-data/asynchronous-refresh.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc

#3595 Clarify formatting diff between Copy options
  powerbi-docs/visuals/power-bi-visualization-tables.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-visuals/subsvc

#3661 Replacing refreshId for requestId
  powerbi-docs/connect-data/asynchronous-refresh.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc

#3675 Update desktop-measures.md
  powerbi-docs/transform-model/desktop-measures.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-transform-model/subsvc

#3680 Add known issue+work-around for Row subtotals OFF
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, pbi-visuals/subsvc

#3689 Update export rows limitation information
  powerbi-docs/visuals/power-bi-visualization-export-data.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-visuals/subsvc
