Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-07, with the labels that each got.

#3920 Update report-builder-url-parameters.md
  powerbi-docs/paginated-reports/report-builder-url-parameters.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, report-builder/subsvc

#3921 Updated a few operation names in the last table
  powerbi-docs/admin/service-admin-auditing.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#3934 Removed limitation in Power BI Premium
  powerbi-docs/connect-data/desktop-connect-pdf.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-desktop/subsvc

#3842 Update dataflows-azure-data-lake-storage-integration.md
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#3938 Update link to what is Power BI Premium Gen2
  powerbi-docs/enterprise/service-security-dlp-policies-for-power-bi.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-eim/subsvc

#3923 Update service-admin-auditing.md
  powerbi-docs/admin/service-admin-auditing.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#3960 Fixed Business Central Dataflow support
  powerbi-docs/connect-data/power-bi-data-sources.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc

#3970 Update known-issue-dataflow-on-premium-gen2.md
  powerbi-docs/troubleshoot/known-issues/known-issue-dataflow-on-premium-gen2.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, pbi-troubleshooting/subsvc
