Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-09, with the labels that each got.

#4039 Updated doc to say we can create one app instead of 10 in o…
  powerbi-docs/collaborate-share/service-create-distribute-apps.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc

#4051 Updating misspelling of node.js
  powerbi-docs/developer/visuals/environment-setup.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-custom-visuals/subsvc, qualifies-for-auto-merge

#4067 Add a missing limitation to embed paginated report scenario
  powerbi-docs/developer/embedded/embed-paginated-reports.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, qualifies-for-auto-merge

#4070 Update note about diagnostics port support.
  powerbi-docs/guidance/monitor-report-performance.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, assigned-to-contributors, qualifies-for-auto-merge

#4074 Updating security implications to reference single sign-on behavior
  powerbi-docs/connect-data/desktop-directquery-about.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-data-sources/subsvc, qualifies-for-auto-merge

#4073 replacing "SQL query" with "source query" in generic contexts
  powerbi-docs/transform-model/desktop-composite-models.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-transform-model/subsvc, qualifies-for-auto-merge

#4082 Updated casing in Power BI product name
  powerbi-docs/create-reports/power-bi-create-mobile-optimized-report-about.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-reports-dashboards/subsvc, qualifies-for-auto-merge

#4081 Update service-admin-auditing.md
  powerbi-docs/admin/service-admin-auditing.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4071 Updating private link workaround
  powerbi-docs/enterprise/service-security-private-links.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-security/subsvc, qualifies-for-auto-merge

#4085 Update datamarts-administration.md
  powerbi-docs/transform-model/datamarts/datamarts-administration.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#4090 Minor spelling correction
  powerbi-docs/developer/embedded/embed-azure-analysis-services.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, qualifies-for-auto-merge
