Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-05, with the labels that each got.

#3797 Update learning-catalog-developer.md
  powerbi-docs/learning-catalog/learning-catalog-developer.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc

#3802 Update report-builder-url-pass-parameters.md
  powerbi-docs/paginated-reports/report-builder-url-pass-parameters.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, report-builder/subsvc

#3809 Resolve syncing conflicts from repo_sync_working_branch to main
  powerbi-docs/admin/organizational-visuals.md
  powerbi-docs/admin/service-admin-portal-azure-connections.md
  powerbi-docs/admin/service-admin-portal.md
  powerbi-docs/collaborate-share/service-connect-excel-power-bi-datasets.md
  powerbi-docs/connect-data/desktop-python-visuals.md
  powerbi-docs/connect-data/media/service-gateway-enterprise-manage-scheduled-refresh/add-data-source-sql.png
  powerbi-docs/connect-data/media/service-gateway-enterprise-manage-scheduled-refresh/authentication-sql.png
  powerbi-docs/connect-data/media/service-gateway-enterprise-manage-scheduled-refresh/privacy-level-sql.png
  powerbi-docs/connect-data/media/service-gateway-enterprise-manage-scheduled-refresh/successful-sql.png
  powerbi-docs/connect-data/media/service-gateway-mashup-on-premises-cloud/allow-cloud-data-sources.png
  powerbi-docs/connect-data/media/service-gateway-mashup-on-premises-cloud/open-settings-gateway.png
  powerbi-docs/connect-data/media/service-gateway-onprem-manage-oracle/add-data-source-oracle.png
  powerbi-docs/connect-data/media/service-gateway-onprem-manage-oracle/authentication-oracle.png
  powerbi-docs/connect-data/media/service-gateway-onprem-manage-oracle/privacy-level-oracle.png
  powerbi-docs/connect-data/media/service-gateway-onprem-manage-oracle/successful-data-source-oracle.png
  powerbi-docs/connect-data/media/service-gateway-sso-kerberos/single-sign-on-settings.png
  powerbi-docs/connect-data/refresh-data.md
  powerbi-docs/connect-data/service-gateway-enterprise-manage-scheduled-refresh.md
  powerbi-docs/connect-data/service-gateway-mashup-on-premises-cloud.md
  powerbi-docs/connect-data/service-gateway-onprem-manage-oracle.md
  powerbi-docs/connect-data/service-gateway-sso-kerberos.md
  powerbi-docs/connect-data/service-tutorial-build-machine-learning-model.md
  powerbi-docs/connect-data/service-tutorial-use-cognitive-services.md
  powerbi-docs/consumer/end-user-arcgis.md
  powerbi-docs/create-reports/power-bi-reports-filters-and-highlighting.md
  powerbi-docs/create-reports/service-reports-visual-interactions.md
  powerbi-docs/developer/embedded/azure-pbie-create-capacity.md
  powerbi-docs/developer/embedded/embed-paginated-reports.md
  powerbi-docs/developer/embedded/export-to.md
  powerbi-docs/developer/embedded/media/azure-pbie-create-capacity/capacity-list.png
  powerbi-docs/developer/embedded/media/azure-pbie-create-capacity/upgrade-to-gen-2.png
  powerbi-docs/developer/embedded/migration-to-sp-profiles.md
  powerbi-docs/developer/embedded/move-to-production.md
  powerbi-docs/developer/visuals/import-visual.md
  powerbi-docs/developer/visuals/power-bi-custom-visuals-certified.md
  powerbi-docs/developer/visuals/sort-options.md
  powerbi-docs/enterprise/service-admin-premium-manage.md
  powerbi-docs/enterprise/service-premium-gen2-metrics-app.md
  powerbi-docs/enterprise/service-premium-large-models.md
  powerbi-docs/enterprise/service-security-sensitivity-label-overview.md
  powerbi-docs/learning-catalog/learning-catalog-developer.md
  powerbi-docs/paginated-reports/report-builder-url-pass-parameters.md
  powerbi-docs/transform-model/dataflows/dataflows-machine-learning-integration.md
  powerbi-docs/troubleshoot/known-issues/known-issue-unable-open-protected-desktop-file.md
  powerbi-docs/visuals/paginated-report-visual.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-visuals/subsvc, assigned-to-contributors

#3810 Update configure-kerberos-powerbi-reports.md
  powerbi-docs/report-server/configure-kerberos-powerbi-reports.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged

#3843 Added alternative with A SKU for testing premium
  powerbi-docs/guidance/migrate-azure-analysis-services-to-powerbi-premium.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc
