Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2022-01, with the labels that each got.

#3507 Add limitation about no RLS support
  powerbi-docs/create-reports/service-quick-create-sharepoint-list.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, pbi-reports-dashboards/subsvc

#3510 Clarify cross-privacy level folding behaviors
  powerbi-docs/admin/desktop-privacy-levels.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#3516 Added caution about color saturation error
  powerbi-docs/connect-data/service-real-time-streaming.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc

#3533 Small grammar fixes on embed tutorial includes
  powerbi-docs/includes/embed-tutorial-client-id.md
  powerbi-docs/includes/embed-tutorial-client-secret.md
Labels: do-not-merge, Change sent to author

#3521 changed from minutes to seconds
  powerbi-docs/admin/service-premium-gen2-metrics-app.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-premium/subsvc

#3540 The RLS consideration or limitation is duplicated.
  powerbi-docs/collaborate-share/service-analyze-in-excel.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc

#3561 fixed typo
  powerbi-docs/connect-data/power-bi-query-caching.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-data-sources/subsvc

#3565 Aligning the gx64krb5 SSO Kerberos for SAP BW doc with the other docs
  powerbi-docs/connect-data/service-gateway-sso-kerberos-sap-bw-gx64krb.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-gateways/subsvc
