Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-01, with the labels that each got.

#4266 Update push-datasets-limitations.md
  powerbi-docs/developer/embedded/push-datasets-limitations.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4259 Updated example query
  powerbi-docs/transform-model/log-analytics/desktop-log-analytics-configure.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-transform-model/subsvc, qualifies-for-auto-merge

#4234 Update end-user-bookmarks.md
  powerbi-docs/consumer/end-user-bookmarks.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-explore/subsvc, qualifies-for-auto-merge

#4268 Update desktop-python-visuals.md
  powerbi-docs/connect-data/desktop-python-visuals.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-ai/subsvc, qualifies-for-auto-merge

#4292 VisualSettingsModel is undefined?
  powerbi-docs/developer/visuals/custom-visual-develop-tutorial-format-options.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-custom-visuals/subsvc, qualifies-for-auto-merge

#4286 updated CosmosDB as compatible with DirectQuery
  powerbi-docs/connect-data/power-bi-data-sources.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge

#4300 Added new limitations to usage metrics report
  powerbi-docs/collaborate-share/service-modern-usage-metrics.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4319 spelling fix
  powerbi-docs/connect-data/service-gateway-sso-kerberos.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-gateways/subsvc, qualifies-for-auto-merge

#4318 Embedded capacity planning: fix whitespaces
  powerbi-docs/developer/embedded/embedded-capacity-planning.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged, needs-human-review

#4316 Unsupported visuals in EmailSubscription pipeline
  powerbi-docs/collaborate-share/end-user-subscribe.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-explore/subsvc, qualifies-for-auto-merge

#4315 Unsupported CustomVisuals for Email Subscriptions
  powerbi-docs/collaborate-share/service-troubleshoot-subscribe.yml
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, needs-human-review
