Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-10, with the labels that each got.

#4813 Update desktop-cross-report-drill-through.md
  powerbi-docs/create-reports/desktop-cross-report-drill-through.md
Labels: aq-pr-triaged, assigned-to-contributors

#4822 Update service-connect-to-smartsheet.md
  powerbi-docs/connect-data/service-connect-to-smartsheet.md
Labels: assigned-to-contributors

#4794 Update Formatting model utils documentation
  powerbi-docs/developer/visuals/format-pane.md
  powerbi-docs/developer/visuals/utils-formatting-model.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, assigned-to-contributors

#4798 Update compare-report-server-service.md
  powerbi-docs/report-server/compare-report-server-service.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged, assigned-to-contributors
