Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-06, with the labels that each got.

#4554 Availability update dataflows-introduction-self-service.md
  powerbi-docs/transform-model/dataflows/dataflows-introduction-self-service.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc, qualifies-for-auto-merge

#4574 Add statement about differences in data load performance
  powerbi-docs/collaborate-share/service-connect-excel-power-bi-datasets.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4545 Update service-gateway-enterprise-manage-ssas.md
  powerbi-docs/connect-data/service-gateway-enterprise-manage-ssas.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-gateways/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4593 Update load-assessment-planning-tool.md
  powerbi-docs/developer/embedded/load-assessment-planning-tool.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged, qualifies-for-auto-merge
