Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-09, with the labels that each got.

#4732 Fixed REST URL
  powerbi-docs/connect-data/asynchronous-refresh.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, assigned-to-contributors

#4768 Added report list page details
  powerbi-docs/collaborate-share/service-modern-usage-metrics.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, assigned-to-contributors

#4735 Update service-gateway-onprem-manage-oracle.md
  powerbi-docs/connect-data/service-gateway-onprem-manage-oracle.md
Labels: aq-pr-triaged, assigned-to-contributors
