Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-02, with the labels that each got.

#4311 Update desktop-composite-models.md
  powerbi-docs/transform-model/desktop-composite-models.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-transform-model/subsvc, qualifies-for-auto-merge

#4282 ⚡ Update embed for your customers usage scenario
  powerbi-docs/guidance/develop-scalable-multitenancy-apps-with-powerbi-embedding.md
  powerbi-docs/guidance/powerbi-implementation-planning-usage-scenario-embed-for-your-customers.md
  powerbi-docs/guidance/powerbi-implementation-planning-usage-scenario-embed-for-your-organization.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, assigned-to-contributors, qualifies-for-auto-merge

#4324 Update known-issue-178-multi-role-rls-composite-model-fail.md
  powerbi-docs/troubleshoot/known-issues/known-issue-178-multi-role-rls-composite-model-fail.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-troubleshooting/subsvc, qualifies-for-auto-merge

#4331 Updated Considerations and Limitation section
  powerbi-docs/collaborate-share/service-embed-secure.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4344 Add WAF sustainability guidance in FAQ
  powerbi-docs/connect-data/service-connect-to-emissions-impact-dashboard.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-template-apps/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#4304 Premium workspace is not additional requirement but alternative
  powerbi-docs/collaborate-share/service-embed-secure.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4355 ⚡ Various guidance updates
  powerbi-docs/guidance/powerbi-adoption-roadmap-system-oversight.md
  powerbi-docs/guidance/powerbi-implementation-planning-introduction.md
  powerbi-docs/guidance/powerbi-implementation-planning-security-content-creator-planning.md
  powerbi-docs/guidance/powerbi-implementation-planning-security-tenant-level-planning.md
  powerbi-docs/guidance/powerbi-implementation-planning-usage-scenario-advanced-data-model-management.md
  powerbi-docs/guidance/powerbi-implementation-planning-usage-scenario-personal-bi.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, qualifies-for-auto-merge
