Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-05, with the labels that each got.

#4492 Update service-create-distribute-apps.md
  powerbi-docs/collaborate-share/service-create-distribute-apps.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4504 Update power-bi-optimization.md
  powerbi-docs/guidance/power-bi-optimization.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, qualifies-for-auto-merge

#4506 Update desktop-accessibility-keyboard-shortcuts.md
  powerbi-docs/create-reports/desktop-accessibility-keyboard-shortcuts.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc, qualifies-for-auto-merge

#4509 Update service-roles-new-workspaces.md
  powerbi-docs/collaborate-share/service-roles-new-workspaces.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, review-team-triage, pbi-collaborate-share/subsvc, qualifies-for-auto-merge

#4517 Update desktop-report-lifecycle-datasets.md
  powerbi-docs/connect-data/desktop-report-lifecycle-datasets.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge
