Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2023-08, with the labels that each got.

#4611 Fix: "ValueError: could not convert string to float: 'Alex'"
  powerbi-docs/connect-data/desktop-python-scripts.md
  powerbi-docs/connect-data/media/desktop-python-scripts/python-scripts-6.png
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, powerbi-ai/subsvc, needs-human-review

#4681 Updated scatter chart documentation
  powerbi-docs/visuals/power-bi-visualization-scatter.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-visuals/subsvc, assigned-to-contributors

#4728 Fix typo and incorrect column ordering in list of audit events
  powerbi-docs/admin/service-admin-auditing.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, assigned-to-contributors, qualifies-for-auto-merge

#4710 Update translation-builder-localize-label.md
  powerbi-docs/guidance/translation-builder-localize-label.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, qualifies-for-auto-merge
