Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2024-05, with the labels that each got.

#5102 Update embedded-analytics-accelerators.md
  powerbi-docs/developer/embedded/embedded-analytics-accelerators.md
  powerbi-docs/developer/embedded/media/embedded-analytics-accelerators/power-embedded-logo.png
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, needs-human-review

#5103 Minor adjustments to logo names
  powerbi-docs/developer/embedded/embedded-analytics-accelerators.md
  powerbi-docs/developer/embedded/media/embedded-analytics-accelerators/power-tuning-logo.png
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged, assigned-to-contributors, needs-human-review

#5105 Update desktop-excel-stunning-report.md
  powerbi-docs/create-reports/desktop-excel-stunning-report.md
Labels: ready-to-merge, aq-pr-triaged, assigned-to-contributors

#5101 Update datamarts-overview.md
  powerbi-docs/transform-model/datamarts/datamarts-overview.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc, assigned-to-contributors, needs-human-review

#5104 Update power-bi-data-points.md
  powerbi-docs/visuals/power-bi-data-points.md
Labels: aq-pr-triaged, assigned-to-contributors

#5108 Grammer fix on power-bi-automate-visual.md
  powerbi-docs/create-reports/power-bi-automate-visual.md
Labels: assigned-to-contributors

#5109 Update support-timeline.md
  powerbi-docs/report-server/support-timeline.md
Labels: powerbi/svc, aq-pr-triaged, assigned-to-contributors

#5112 Update report-builder-power-bi.md
  powerbi-docs/paginated-reports/report-builder-power-bi.md
Labels: powerbi/svc, aq-pr-triaged, assigned-to-contributors
