Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2024-04, with the labels that each got.

#5066 Update power-bi-visualization-types-for-reports-and-q-and-a.md
  powerbi-docs/visuals/power-bi-visualization-types-for-reports-and-q-and-a.md
Labels: aq-pr-triaged, assigned-to-contributors

#5096 Fix dataset stringification in RLS effective identity to produce a valid request
  powerbi-docs/developer/embedded/cloud-rls.md
Labels: do-not-merge, Change sent to author, power-bi-embedded/svc, aq-pr-triaged, assigned-to-contributors

#5097 Fix grammar and such
  powerbi-docs/guidance/whitepaper-azure-b2b-power-bi.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, needs-human-review

#5099 Update create-bar-chart.md
  powerbi-docs/developer/visuals/create-bar-chart.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-custom-visuals/subsvc, needs-human-review

#5100 Update service-connect-to-emissions-impact-dashboard.md
  powerbi-docs/connect-data/service-connect-to-emissions-impact-dashboard.md
Labels: Change sent to author, powerbi/svc, powerbi-template-apps/subsvc, aq-pr-triaged, assigned-to-contributors
