Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-03, with the labels that each got.

#5192 Update service-datasets-build-permissions.md
  powerbi-docs/connect-data/service-datasets-build-permissions.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge

#5191 🐲 Add section about deciding on file formats in Power BI Implementation Planning: Develop and Manage Content
  powerbi-docs/guidance/media/powerbi-implementation-planning-content-lifecycle-management-develop-manage/power-bi-projects-overview.svg
  powerbi-docs/guidance/powerbi-implementation-planning-content-lifecycle-management-develop-manage.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, needs-human-review

#5189 Update system-requirements.md
  powerbi-docs/report-server/system-requirements.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#5187 Update download-powerbi-report-server.md
  powerbi-docs/report-server/download-powerbi-report-server.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#5194 Inserted slicer image in PowerBi Docs tutorial
  powerbi-docs/create-reports/desktop-excel-stunning-report.md
  powerbi-docs/create-reports/media/desktop-excel-stunning-report/power-bi-slicer.png
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc, needs-human-review

#5193 Update power-bi-visualization-influencers.md
  powerbi-docs/visuals/power-bi-visualization-influencers.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-ai/subsvc

#5195 🐲 Updating content lifecycle management series with new guidance for Copilot and re-using semantic models
  powerbi-docs/guidance/powerbi-implementation-planning-content-lifecycle-management-plan-design.md
  powerbi-docs/guidance/powerbi-implementation-planning-content-lifecycle-management-support-monitor.md
  powerbi-docs/guidance/powerbi-implementation-planning-content-lifecycle-management-validate.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, needs-human-review

#5198 🐲 Adding semantic model re-usability diagram to PBIIP - Lifecycle management - Plan and design content
  powerbi-docs/guidance/media/powerbi-implementation-planning-content-lifecycle-management-plan-design/re-use-semantic-models.svg
  powerbi-docs/guidance/powerbi-implementation-planning-content-lifecycle-management-plan-design.md
  powerbi-docs/guidance/powerbi-implementation-planning-workspaces-workspace-level-planning.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, needs-human-review

#5201 Update directquery-model-guidance.md
  powerbi-docs/guidance/directquery-model-guidance.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc, needs-human-review
