Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-07, with the labels that each got.

#5231 Fix Tabular Editor URL
  powerbi-docs/enterprise/service-premium-connect-tools.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-premium/subsvc, inactive

#5239 pointing to daxstudio.org for DAX Studio instead of github
  powerbi-docs/transform-model/desktop-external-tools.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc

#5253 Fix typos translytical-task-flow-overview.md
  powerbi-docs/create-reports/translytical-task-flow-overview.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-service/subsvc, aq-pr-triaged
