Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-04, with the labels that each got.

#5200 Update the list of required properties in the definition.pbir file
  powerbi-docs/developer/projects/projects-report.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged

#5202 Add some known issue
  powerbi-docs/connect-data/service-gateway-onprem-tshoot.md
  powerbi-docs/guidance/powerbi-implementation-planning-data-gateways.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc

#5203 Repair Copilot DAX documentation
  powerbi-docs/transform-model/TOC.yml
Labels: do-not-merge, aq-pr-triaged, review-team-triage, needs-human-review

#5204 Clarifying the region location for the storage account
  powerbi-docs/transform-model/dataflows/dataflows-azure-data-lake-storage-integration.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-dataflows/subsvc

#5209 Update power-bi-visualization-influencers.md
  powerbi-docs/visuals/power-bi-visualization-influencers.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-ai/subsvc

#5212 minor typo
  powerbi-docs/developer/embedded/embed-service-principal.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc

#5213 Update link
  powerbi-docs/developer/embedded/embed-service-principal-certificate.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged

#5211 Outdated link
  powerbi-docs/developer/embedded/embedded-analytics-power-bi.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-developer/subsvc, aq-pr-triaged

#5215 Update copilot-introduction --> Access Copilot in the Power BI servic…
  powerbi-docs/create-reports/copilot-introduction.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc

#5219 BULK: Fix broken link in office-store.md
  powerbi-docs/developer/visuals/office-store.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-custom-visuals/subsvc
