Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-08, with the labels that each got.

#5256 Update service-power-bi-powerpoint-add-in-install.md
  powerbi-docs/collaborate-share/service-power-bi-powerpoint-add-in-install.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc

#5260 Update service-publish-to-web.md
  powerbi-docs/collaborate-share/service-publish-to-web.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-collaborate-share/subsvc

#5255 simplify wording of custom visual limitation
  powerbi-docs/collaborate-share/end-user-subscribe.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-explore/subsvc

#5262 Fix typo "also know" -> "also known"
  powerbi-docs/includes/embed-tutorial-client-id.md
Labels: do-not-merge, Change sent to author
