Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-02, with the labels that each got.

#5180 Update Performance Analyzer instructions to reflect "Optimize" ribbon
  powerbi-docs/create-reports/desktop-performance-analyzer.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc, qualifies-for-auto-merge

#5181 Update get-started.md
  powerbi-docs/report-server/get-started.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged, qualifies-for-auto-merge

#5184 Update desktop-log-analytics-overview.md
  powerbi-docs/transform-model/log-analytics/desktop-log-analytics-overview.md
Labels: do-not-merge, Change sent to author, powerbi/svc, pbi-transform-model/subsvc, qualifies-for-auto-merge

#5188 Fix conditions example
  powerbi-docs/developer/visuals/dataview-mappings.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-custom-visuals/subsvc, qualifies-for-auto-merge

#5190 workspace monitoring note
  powerbi-docs/connect-data/refresh-data.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc, qualifies-for-auto-merge
