Repository MicrosoftDocs/powerbi-docs, pull requests merged in 2025-05, with the labels that each got.

#5220 Update copilot-enable-power-bi.md
  powerbi-docs/create-reports/copilot-enable-power-bi.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-reports-dashboards/subsvc

#5222 Update microsoft-entra-application-proxy.md
  powerbi-docs/report-server/microsoft-entra-application-proxy.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged

#5224 Update power-bi-cannot-sign-in.md
  powerbi-docs/support/power-bi-cannot-sign-in.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-admin/subsvc, aq-pr-triaged

#5223 Update desktop-get-the-desktop.md
  powerbi-docs/fundamentals/desktop-get-the-desktop.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-fundamentals/subsvc

#5227 Update powerbi-migration-overview.md
  powerbi-docs/guidance/powerbi-migration-overview.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, powerbi-resource/subsvc

#5232 Template Apps - add 'no support for PBIR'
  powerbi-docs/connect-data/service-template-apps-overview.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-template-apps/subsvc, aq-pr-triaged

#5234 Update refresh-troubleshooting-refresh-scenarios.md
  powerbi-docs/connect-data/refresh-troubleshooting-refresh-scenarios.md
Labels: do-not-merge, Change sent to author, powerbi/svc, aq-pr-triaged, pbi-data-sources/subsvc

#5236 Update changelog.md
  powerbi-docs/report-server/changelog.md
Labels: do-not-merge, Change sent to author, powerbi/svc, powerbi-report-server/subsvc

#5237 Update download-powerbi-report-server.md
  powerbi-docs/report-server/download-powerbi-report-server.md
Labels: Change sent to author, ready-to-merge, powerbi/svc, powerbi-report-server/subsvc, aq-pr-triaged
